.Hidden {
    display: none;
}

.book {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px
}
.book > * {
    /* border: gray solid; */
    /* background-color: gray; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 2px 16px;
    margin-bottom: 20px;
    background-color: rgb(170, 97, 97);
}


.newBook {
    margin-top: 20%;
    text-align: center;
    
    /* border: red solid; */
}
.newBook > * {
    margin: 2px;
}
.Read {
    
    background-color: rgb(79, 165, 79);
    
    
    
}
.title, .subtitle{
    text-align: center;
}

.btnContainer{
    display: flex;
    justify-content: center; 
    /* border: red solid; */
    z-index: 100;
}



/* #addBook {
    position: absolute;
    bottom: 5%;
    right: 5%;
} */

body {
    background-color: #4b709e;
}

.head {
    background-color: rgb(2, 19, 19);
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    color: white;
}

body{
    display: flex;
    flex-direction: column;
}