.Hidden {
    color: 4b709e;
    background-color: 4b709e;
    height: 0px;
    width: 0px;
    border: none;
}

.book {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px
}
.book > * {
    /* border: gray solid; */
    /* background-color: gray; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 2px 16px;
    margin-bottom: 20px;
    background-color: rgb(170, 97, 97);
}


.newBook {
    text-align: center;
    
    /* border: red solid; */
}
.newBook > * {
    margin: 2px;
}
.Read {
    
    background-color: rgb(79, 165, 79);
    
    
    
}
.title, .subtitle{
    text-align: center;
}

#addBook {
    margin-left: 50%;
    /* width: 10%; */
}



/* #addBook {
    position: absolute;
    bottom: 5%;
    right: 5%;
} */

body {
    background-color: #4b709e;
}